Lenguaje_de_marcas/carlos penalver/03_paises.dtd

<!ELEMENT paises (pais*)>
<!ELEMENT pais (superficie, moneda, gobierno, fronteras,idioma+)>
<!ATTLIST pais nombre ID #REQUIRED>
<!ELEMENT superficie (#PCDATA)>
<!ATTLIST superficie unidad NMTOKEN #REQUIRED>
<!ELEMENT moneda (#PCDATA)>
<!ELEMENT gobierno EMPTY>
<!ATTLIST gobierno sistema NMTOKEN #IMPLIED>
<!ELEMENT fronteras EMPTY>
<!ATTLIST fronteras pais IDREFS #IMPLIED>
<!ELEMENT idioma (#PCDATA)>