Lenguaje de marcas/XML/DTD ejercicios/matricula.dtd

<!ELEMENT matricula (personal, pago)+>
<!ELEMENT personal (dni, nombre, titulacion, domicilios)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT domicilios (domicilio+)>
<!ATTLIST domicilio tipo (familiar | habitual) #REQUIRED>
<!ELEMENT domicilio (direccion, municipio)>
    <!ELEMENT direccion (#PCDATA)>
<!ELEMENT municipio (#PCDATA)>
<!ELEMENT pago (tipo_matricula, cantidad)>
<!ELEMENT tipo_matricula (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
